doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Exp manager - bronkhorst test page
    body 
        h1 Test Page for Devices 
        section#ports
            h2 Serial Ports
            .port_wrapper 
                each item in connections
                    div.serial_port
                        h4=item.path 
                        if item.isOpen
                            span.isOpen Open
                        else 
                            span.isOpen Closed
                        span.type=item.type
                        //span.node=item.node.length
                        form.open-port(class=item.path)
                            input( type="hidden" name = "path", value = item.path)
                            input( list = "baudrateList" name = "baudrate" required)
                            datalist#baudrateList 
                                option(value=19200)
                                option(value=38400)
                            button Connect 
                        form.close-port(class=item.path)
                            input( type="hidden" name = "path", value = item.path)
                            button Disconnect

        section#bronkhorst
            h2 Bronkhorst MFC/MFM
            form#bronkhorstTX
                input#bronkhorst-functions( list = "bronkhorstFunctions" name = "txFunction" )
                datalist#bronkhorstFunctions
                    each item in bronkhorstFunctions
                        option( value=item ) 
                input#bronkhorst-value( type="number" name = "txValue" )
                button send message
            hr
            div#bronkhorst-response
                ul 
                    li.res_status Status: 
                        short
                    li.res_value Value: 
                        short
        section#mdrobot
            h2 MDROBOT motor controller
            form#mdrobotTX
                input#mdrobot-functions( list = "mdrobotFunctions" name = "txFunction" )
                datalist#mdrobotFunctions
                    each item in mdrobotFunctions
                        option( value=item )
                input#mdrobot-value( type = "number" name = "txValue" )
                button send message
            hr
            div#mdrobot-response
                ul
                    li.res_status Status: 
                        short 
                    li.res_value Value: 
                        short 
script(src="/socket.io/socket.io.js")
script(src="js/handleHome.js")

